.component{
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

.item{
    text-align: center;
    display: block;
    padding: 10px;
    box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
    background-color: #fff;
}

.item:hover{
    background-color: #007bff;
}

@media only screen and (min-width: 575px) {
    .component{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}